<!DOCTYPE html>
<html>
  <head>
    <title>ENTR451: User Security</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <p>
    <!-- if user logged in -->
    <% @current_user = User.find_by({"id"=>session["user_id"]})%>
     <% if @current_user %>
    Hey, <%= @current_user["first_name"] %>
    <%= %>
    <% else %>
      <a href="/users/new">Sign Up</a>
      <q href="/sessions/new">Log in</a>
      <%end%>
    </p>

    <p>
      <%= flash["notice"] %>
    </p>

    <%= yield %>
  </body>
</html>
